* {
  margin: 0;
  padding: 0;
}

.topbarContainer {
  width: 100%;
  height: 55px;
  background: #ffffff;
  display: flex;
  align-items: center;
}
i {
  cursor: pointer;
}
/* Topbar Left */
.topbarLeft {
  flex: 3.5;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 30px;
}
.topbarLeft i {
  color: #0866ff;
  font-size: 35px;
}
.topbarLeft .topbarSearch {
  display: flex;
  align-items: center;
  background: #f0f2f5;
  border-radius: 20px;
  padding: 6px;
  gap: 5px;
  margin-left: 10px;
}

.topbarLeft .topbarSearch input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

/* Topbar Center */
.topbarCenter {
  flex: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.topbarCenter i {
  font-size: 21px;
}

.topbarRight {
  flex: 3.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  padding: 15px;
  gap: 20px;
  font-size: 20px;
}

.topbarRight .topbarIcons {
  background: #f0f2f5;
  padding: 10px;
  border-radius: 50%;
  position: relative;
}

.topbarRight .topbarIconBadge {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: -2px;
  color: #fff;
  background: red;
  padding: 5px;
  font-size: 12px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileImage{
    padding: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.profileImage img {
 width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}
